{% extends "base.html" %}

{% block content %}

<main>
    <h1 class="titulo-principal">Acadêmico</h1>
    <br><br>
    <div class="formaçao">
        <h2 class="subtitulo">Instituições de ensino:</h2>
        
        <div class="instituicoes">
            <div class="instituicao">
                <h3 class="nome-instituicao">Escola Walter Fortunato</h3>
                <ul class="lista">
                    <li class="conteudo-instituicao">2010-2016</li>
                    <li class="conteudo-instituicao">Ensino Fundalmental I até o 6° ano do Ensino Fundamental II.</li>
                </ul>
            </div>
            <div class="instituicao">
                <h3 class="nome-instituicao">Colégio Univap Aquarius</h3>
                <ul class="lista">
                    <li class="conteudo-instituicao">2017-2022</li>
                    <li class="conteudo-instituicao">Ensino Fundamental II desde o 7° ano, e Ensino Médio completo.</li>
                </ul>
            </div>
            <div class="instituicao">
                <h3 class="nome-instituicao">Fatec - Prof Jessen Vidal</h3>
                <ul class="lista">
                    <li class="conteudo-instituicao">2023-Atual</li>
                    <li class="conteudo-instituicao">Curso Superior de Tecnólogo em Desenvolvimento de Software Multiplataforma.</li>
                </ul>
            </div>
        </div>
    </div>
    <br><br>
    <div class="habilidades">
        <h2 class="subtitulo">Habilidades:</h2>
        <br>
        <ul class="lista">
            <li>Tenho muito interesse em conhecer novas culturas e línguas, e falo inglês fluente;</li>
            <li>Também tenho muita vontade de aprender novas tecnologias, já que nesse ano (2023) decidi começar a realmente estudar na área da Tecnologia;</li>
            <li>Tenho facilidade com comunicação.</li>
        </ul>
    </div>
    <br><br>
    <div class="projetos">
        <h2 class="subtitulo">Projetos desenvolvidos e que pretendo desenvolver:</h2>
        <br>
        <p>Como comecei a estudar no ramo da Tecnologia da Informação há pouco tempo, não tenho muitos projetos desenvolvidos, porém pretendo desenvolver diversos projetos relacionados a Desenvolvimento de Software agora que estou na faculdade.</p>
        <p>Contudo, no primeiro semestre da faculdade de Desenvolvimento de Software Multiplataforma, participei do desenvolvimento do API, que são projetos integrados para melhor aprendizagem dos alunos. <a href="https://github.com/Equipe-01-DSM-2023/API-2023.1" class="link-academico" target="_blank">Clique aqui</a> para ser direcionado ao repositório do Github referente ao meu projeto API.</p>
        <p>Em meu Github é possível encontrar meus repósitorios já criados em relação ao meu curso da faculdade, e lá estarão todos os meus projetos que vão ser desenvolvidos no futuro. <a href="https://github.com/livialvs" class="link-academico" target="_blank">Clique aqui</a> para ser direcionado a à minha conta do Github.</p>
        <p>Aqui estão imagens referentes aos projetos desenvolvidos durante o meu primeiro semestre no Curso de Desenvolvimento de Software Multiplataforma na Fatec:</p>
    </div>
    <div class="card-container">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/img/portfolio.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Portfólio pessoal</h5>
              <p class="card-text">Portfólio contendo informações pessoais, acadêmicas e meus principais contatos.</p>
              <a href="https://github.com/livialvs/portfolio-dd.git" class="btn btn-primary btn-custom" target="_blank">Acesse o repositório!</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/img/api.png"
            alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Projeto API-2023</h5>
              <p class="card-text">Projeto desenvolvido durante o meu primeiro semestre no curso da faculdade.</p>
              <a href="https://github.com/Equipe-01-DSM-2023/API-2023.1.git" class="btn btn-primary btn-custom" target="_blank">Acesse o repositório!</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/img/unes.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Site Unes</h5>
              <p class="card-text">Projeto de uma universidade fictícia, desenvolvido na aula de Desenvolvimento Web I.</p>
              <a href="https://github.com/livialvs/desenvolvimento-web.git" class="btn btn-primary btn-custom" target="_blank">Acesse o repositório!</a>
            </div>
          </div>
    </div>
    <br>

</main>


{% endblock %}
