{% extends "base.html" %}

{% block content %}

<main>
    <h1 class="titulo-principal">Acadêmico</h1>
    <br><br>
    <div class="formaçao">
        <h2 class="subtitulo">Instituições de ensino:</h2>

        <div class="instituicoes">
            <div class="instituicao">
                <h3 class="nome-instituicao">Escola Walter Fortunato</h3>
                <ul class="lista">
                    <li class="conteudo-instituicao">2010-2016</li>
                    <li class="conteudo-instituicao">Ensino Fundalmental I até o 6° ano do Ensino Fundamental II.</li>
                </ul>
            </div>
            <div class="instituicao">
                <h3 class="nome-instituicao">Colégio Univap Aquarius</h3>
                <ul class="lista">
                    <li class="conteudo-instituicao">2017-2022</li>
                    <li class="conteudo-instituicao">Ensino Fundamental II desde o 7° ano, e Ensino Médio completo.</li>
                </ul>
            </div>
            <div class="instituicao">
                <h3 class="nome-instituicao">Fatec - Prof Jessen Vidal</h3>
                <ul class="lista">
                    <li class="conteudo-instituicao">2023-Atual</li>
                    <li class="conteudo-instituicao">Curso Superior de Tecnólogo em Desenvolvimento de Software
                        Multiplataforma.</li>
                </ul>
            </div>
        </div>
    </div>
    <br><br>
    <div class="habilidades">
        <h2 class="subtitulo">Habilidades:</h2>
        <br>
        <ul class="lista">
            <li>Tenho muito interesse em conhecer novas culturas e línguas, e falo inglês fluente;</li>
            <li>Também tenho muita vontade de aprender novas tecnologias, já que nesse ano (2023) decidi começar a
                realmente estudar na área da Tecnologia;</li>
            <li>Tenho facilidade com comunicação.</li>
        </ul>
    </div>
    <br><br>
    <div class="projetos">
        <h2 class="subtitulo">Projetos desenvolvidos e que pretendo desenvolver:</h2>
        <br>
        <p>Como comecei a estudar no ramo da Tecnologia da Informação há pouco tempo, não tenho muitos projetos
            desenvolvidos, porém pretendo desenvolver diversos projetos relacionados a Desenvolvimento de Software agora
            que estou na faculdade.</p>
        <p>Contudo, no primeiro semestre da faculdade de Desenvolvimento de Software Multiplataforma, participei do
            desenvolvimento do API, que são projetos integrados para melhor aprendizagem dos alunos. <a
                href="https://github.com/Equipe-01-DSM-2023/API-2023.1" class="link-academico" target="_blank">Clique
                aqui</a> para ser direcionado ao repositório do Github referente ao meu projeto API.</p>
        <p>Em meu Github é possível encontrar meus repósitorios já criados em relação ao meu curso da faculdade, e lá
            estarão todos os meus projetos que vão ser desenvolvidos no futuro. <a href="https://github.com/livialvs"
                class="link-academico" target="_blank">Clique aqui</a> para ser direcionado a à minha conta do Github.
        </p>
        <p>Aqui estão imagens referentes aos projetos desenvolvidos durante o meu primeiro semestre no Curso de
            Desenvolvimento de Software Multiplataforma na Fatec:</p>
    </div>
    <div class="card-container">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/img/portfolio.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Portfólio pessoal</h5>
                <p class="card-text">Portfólio contendo informações pessoais, acadêmicas e meus principais contatos.</p>
                <button class="btn btn-primary btn-custom" data-toggle="modal" data-target="#modalPortfolio">Saiba
                    mais</button>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/img/api.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">API-2023</h5>
                <p class="card-text">Projeto desenvolvido durante o meu primeiro semestre no curso da faculdade.</p>
                <button class="btn btn-primary btn-custom" data-toggle="modal" data-target="#modalAPI1">Saiba
                    mais</button>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/img/unes.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Site Unes</h5>
                <p class="card-text">Projeto de uma universidade fictícia, desenvolvido na aula de Desenvolvimento Web
                    I.</p>
                <button class="btn btn-primary btn-custom" data-toggle="modal" data-target="#modalUnes">Saiba
                    mais</button>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/img/callnet.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">API-2023.2</h5>
                <p class="card-text">Projeto desenvolvido durante o meu segundo semestre no curso da faculdade.</p>
                <button class="btn btn-primary btn-custom" data-toggle="modal" data-target="#modalAPI2">Saiba
                    mais</button>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/img/petlovers.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Projeto PetLovers</h5>
                <p class="card-text">Projeto de um sistema de gerenciamento de pet shops e clínicas veterinárias fictício.</p>
                <button class="btn btn-primary btn-custom" data-toggle="modal" data-target="#modalPetLovers">Saiba
                    mais</button>
            </div>
        </div>
    </div>
    <br>

    <div class="modal" id="modalPortfolio" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Portfólio pessoal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        style="border: none; background: none; font-size: 30px;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Resumo do projeto:</h5>
                    <p>Esse projeto se trata de um portfólio pessoal contendo informações sobre mim, como hobbies,
                        habilidades, projetos desenvolvidos, formação acadêmica e minhas principais formas de contato.
                    </p>
                    <h5>Tecnologias utilizadas:</h5>
                    <div class="tecnologias">
                        <img src="../static/img/html.png" class="tecnologia">
                        <img src="../static/img/css.png" class="tecnologia">
                        <img src="../static/img/python.png" class="tecnologia">
                        <img src="../static/img/flask.png" class="tecnologia">
                    </div>
                    <div class="text-center" style="margin-top: 20px;">
                        <a href="https://github.com/livialvs/portfolio-dd.git" class="btn btn-primary btn-custom"
                            target="_blank" style="font-weight: bolder">Acesse o repositório!</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modalAPI1" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">API 2023.1</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        style="border: none; background: none; font-size: 30px;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Resumo do projeto:</h5>
                    <p>Esse projeto consiste no API do 1° semestre da minha faculdade de Desenvolvimento de Software
                        Multiplataforma em parceria com a vanguarda sobre dados relacionados à covid longa no Vale do
                        Paraíba para fins jornalísticos.</p>
                    <h5>Minha colaboração:</h5>
                    <p>Nesse projeto, participei na parte de pesquisas de dados e no desenvolvimento do Front-end do
                        site, principalmente na página "Sobre".</p>
                    <h5>Tecnologias utilizadas:</h5>
                    <div class="tecnologias">
                        <img src="../static/img/html.png" class="tecnologia">
                        <img src="../static/img/css.png" class="tecnologia">
                        <img src="../static/img/javascript.png" class="tecnologia">
                        <img src="../static/img/python.png" class="tecnologia">
                        <img src="../static/img/mysql.png" class="tecnologia">
                        <img src="../static/img/flask.png" class="tecnologia">
                    </div>
                    <div class="text-center" style="margin-top: 20px;">
                        <a href="https://github.com/Equipe-CodeLand/API-2023.1.git" class="btn btn-primary btn-custom"
                            target="_blank" style="font-weight: bolder">Acesse o repositório!</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modalUnes" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Site UNES</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        style="border: none; background: none; font-size: 30px;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Resumo do projeto:</h5>
                    <p>Esse projeto foi desenvolvido para treinar o básico do desenvolvimento de um site com HTML-5,
                        CSS-3, Python, MySQL (para o banco de dados) e Flask.</p>
                    <h5>Tecnologias utilizadas:</h5>
                    <div class="tecnologias">
                        <img src="../static/img/html.png" class="tecnologia">
                        <img src="../static/img/css.png" class="tecnologia">
                        <img src="../static/img/python.png" class="tecnologia">
                        <img src="../static/img/mysql.png" class="tecnologia">
                        <img src="../static/img/flask.png" class="tecnologia">
                    </div>
                    <div class="text-center" style="margin-top: 20px;">
                        <a href="https://github.com/livialvs/desenvolvimento-web-I.git"
                            class="btn btn-primary btn-custom" target="_blank" style="font-weight: bolder">Acesse o
                            repositório!</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modalAPI2" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">API 2023.2</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        style="border: none; background: none; font-size: 30px;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Resumo do projeto:</h5>
                    <p>Esse projeto consiste no API do 2° semestre da minha faculdade de Desenvolvimento de Software
                        Multiplataforma. O projeto se refere à um sistema de gerenciamento de chamadas de serviço, nosso
                        sistema é focado em fornecer auxílio em problemas relacionados a internet fixa. Nessa
                        plataforma, o cliente pode abrir chamados e também visualizar os "Problemas Conhecidos", já o
                        atendente tem a função de responder os chamados, e o administrador irá gerenciar as chamadas e
                        os "Problemas Conhecidos".</p>
                    <h5>Minha colaboração:</h5>
                    <p>Nesse projeto, participei tanto na parte do Front-end, quanto na parte do Back-end. Minha maior
                        colaboração está no desenvolvimento completo da parte dos "Problemas Conhecidos", desde o
                        cadastro, até todo o resto do gerenciamento, no Front-end e no Back-end, sendo um CRUD completo.
                        Além do mais, participei também no desenvolvimento do Front-end dos painéis, e também desenvolvi
                        a parte do envio de mensagens dentro do chamado e de seu gerenciamento, tanto no Front-end,
                        quanto no Back-end. </p>
                    <h5>Tecnologias utilizadas:</h5>
                    <div class="tecnologias">
                        <img src="../static/img/typescript.png" class="tecnologia">
                        <img src="../static/img/node.png" class="tecnologia">
                        <img src="../static/img/mysql.png" class="tecnologia">
                        <img src="../static/img/css.png" class="tecnologia">
                        <img src="../static/img/react.png" class="tecnologia">
                        <img src="../static/img/typeorm.png" class="tecnologia">
                    </div>
                    <div class="text-center" style="margin-top: 20px;">
                        <a href="https://github.com/Equipe-CodeLand/API-2023.2.git" class="btn btn-primary btn-custom"
                            target="_blank" style="font-weight: bolder">Acesse o repositório!</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modalPetLovers" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Projeto PetLovers</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        style="border: none; background: none; font-size: 30px;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Resumo do projeto:</h5>
                    <p>Esse projeto se trata de um sistema de gerenciamento de petshops e clínicas veterinárias desenvolvido na matéria Técnicas de Programação I. Nesse projeto, utilizamos conhecimentos sobre programação orientada a objetos e arquitetura em camadas com o React.</p>
                    <h5>Tecnologias utilizadas:</h5>
                    <div class="tecnologias">
                        <img src="../static/img/css.png" class="tecnologia">
                        <img src="../static/img/typescript.png" class="tecnologia">
                        <img src="../static/img/react.png" class="tecnologia">
                        <img src="../static/img/java.png" class="tecnologia">
                    </div>
                    <div class="text-center" style="margin-top: 20px;">
                        <a href="https://github.com/livialvs/atv-web.git" class="btn btn-primary btn-custom"
                            target="_blank" style="font-weight: bolder">Acesse o repositório!</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $(".btn-custom").click(function () {
                var modalId = $(this).data("target");
                $(modalId).modal();
            });
        });
    </script>

</main>


{% endblock %}