{% extends "base.html" %}

{% block content %}
<main>
    <h1 class="titulo-principal">Contatos</h1>
    <div class="contatos">
        <div class="contatos-1">
          <a href="https://www.linkedin.com/in/livialvs/" target="_blank">
            <img srcset="../static/img/linkedin200.png 200w, ../static/img/linkedin500.png 500w"
              sizes="(max-width: 600px) 100px, 120px"
              alt="linkedin"
              class="icones-contatos">
          </a>
          <h3 class="nome-contatos">Linkedin</h3>
        </div>
        <div class="contatos-2">
          <a href="https://github.com/livialvs" target="_blank">
            <img srcset="../static/img/github200.png 200w, ../static/img/github500.png 500w"
              sizes="(max-width: 600px) 100px, 120px"
              alt="github"
              class="icones-contatos">
          </a>
          <h3 class="nome-contatos">Github</h3>
        </div>
        <div class="contatos-3">
          <a href="https://www.instagram.com/livialvss/" target="_blank">
            <img srcset="../static/img/instagram200.png 200w, ../static/img/instagram500.png 500w"
              sizes="(max-width: 600px) 100px, 120px"
              alt="instagram"
              class="icones-contatos">
          </a>
          <h3 class="nome-contatos">Instagram</h3>
        </div>
        <div class="contatos-4">
          <a href="mailto:livia.faria21@gmail.com">
            <img srcset="../static/img/gmail200.png 200w, ../static/img/gmail500.png 500w"
              sizes="(max-width: 600px) 100px, 120px"
              alt="email"
              class="icones-contatos">
          </a>
          <h3 class="nome-contatos">E-mail: livia.faria21@gmail.com</h3>
        </div>
      </div>
      
</main>





{% endblock content %}