{% extends "base.html" %}

{% block content %}
<main>
    <h1 class="titulo-principal">Contatos</h1>
    <div class="contatos">
        <div class="contatos-1">
            <a href="https://www.linkedin.com/in/livialvs/" target="_blank">
                <img src="../static/img/linkedin.png" alt="linkedin"
                class="icones-contatos">
            </a>
            <h3 class="nome-contatos">Linkedin</h3>
            <a href="mailto:livia.faria21@gmail.com">
                <img src="../static/img/gmail.png" alt="email" class="icones-contatos">
            </a>
            <h3 class="nome-contatos">E-mail: livia.faria21@gmail.com</h3>
        </div>
        <div class="contatos-2">
            <a href="https://github.com/livialvs" target="_blank">
                <img src="../static/img/github.png" alt="github" class="icones-contatos">
            </a>
            <h3 class="nome-contatos">Github</h3>
        </div>
        <div class="contatos-3">
            <a href="https://www.instagram.com/livialvss/" target="_blank">
                <img src="../static/img/instagram.png" alt="instagram" class="icones-contatos">
            </a>
            <h3 class="nome-contatos">Instagram</h3>
        </div>


    </div>
</main>





{% endblock content %}