{% extends "base.html" %}

{% block content %}
<main>

    <div class="principal">
        <div class="caixa-1">
            <img src="../static/img/foto-minha.jpg" class="foto-minha" alt="foto minha">
        </div>


        <div class="caixa-2">
            <p class="intro" >Olá, seja bem vindo (a) ao meu portfólio! Meu nome é Livia Alves de Faria, e aqui você poderá encontrar informações gerais sobre mim, como formação acadêmica, hobbies e meus principais contatos.</p>
        </div>
    </div>

</main>

{% endblock content %}