{% extends "base.html" %}

{% block content %}
<main>

    <div class="principal">
        <div class="conteudo">
            <div class="caixa-1">
                <img srcset="../static/img/foto-minha200.jpg 200w, ../static/img/foto-minha500.jpg 500w"
                sizes="(max-width: 600px) 250px, 400px"
                class="foto-minha" alt="foto minha">
            </div>


            <div class="caixa-2">
                <p class="intro" >Olá, seja bem vindo (a) ao meu portfólio! Meu nome é Livia Alves de Faria, e aqui você poderá encontrar informações gerais sobre mim, como formação acadêmica, hobbies e meus principais contatos.</p>
            </div>
        </div>
    </div>

</main>

{% endblock content %}