{% extends "base.html" %}

{% block content %}
<main>
    <h1 class="titulo-principal">Sobre</h1>
    <br>
    <div class="informacao-geral">
        <h2 class="subtitulo">Informações gerais:</h2>
        <br>
        <ul class="lista">
            <li>Meu nome completo é Livia Alves de Faria;</li>
            <li>Nasci dia 21/02/2005, logo, atualmente tenho 18 anos;</li>
            <li>Nascida e criada em São José dos Campos.</li>
        </ul>
        <br>
    </div>
    <br>
    <div class="hobbies">
        <h2 class="subtitulo">Hobbies:</h2>
        <br>
        <ul class="lista">
            <li>Amo cozinhar e fazer receitas novas para minha família e amigos;</li>
            <li>Viajar é a minha maior paixão! Amo a sensação de conhecer novas culturas e pessoas;</li>
            <li>Amo animais, e tenho 4 gatinhos em casa;</li>
            <li>Sempre gostei muito de fazer acessórios e objetos de decorações artesanais, como pulseiras, colares, brincos e quadros bordados;</li>
            <li>Sou apaixonada por esportes, principalmente futebol;</li>
            <li>Também amo assistir filmes, desde filmes mais descontraídos até filmes que trazem consigo uma reflexão mais profunda.</li>
            <br>
    </div>
    <br>
    <div class="filmes">
        <h2 class="subtitulo">Filmes Favoritos:</h2>
        <br>
        <div class="grid-filmes">
            <div class="filme-1">
                <img src="../static/img/littlewomen.jpg" alt="little women" class="poster-filme">
                <h3 class="nome-filme">Little Women (2019)</h3>
            </div>
            <div class="filme-2">
                <img src="../static/img/beforesunset.jpg" alt="before sunset" class="poster-filme">
                <h3 class="nome-filme">Before Sunset (2009)</h3>
            </div>
            <div class="filme-3">
                <img src="../static/img/whiplash2.jpg" alt="whiplash" class="poster-filme">
                <h3 class="nome-filme">Whiplash (2014)</h3>
            </div>
        </div>
    </div>
    <br><br>
    <div class="musicas">
        <h2 class="subtitulo">Músicas favoritas:</h2>
        <br>
        <ul class="lista">
            <li>Cardigan - Taylor Swift <a href="https://open.spotify.com/track/0KRYCBwIpWYFNrXOmXbyUh?si=efc98d646e61449d" class="link-musica" target="_blank">(Escute Aqui!)</a></li>
            <li>Under Pressure - Queen <a href="https://open.spotify.com/track/2fuCquhmrzHpu5xcA1ci9x?si=5019a2dd083b4f98" class="link-musica" target="_blank">(Escute Aqui!)</a></li>
            <li>Self Control - Frank Ocean <a href="https://open.spotify.com/track/5GUYJTQap5F3RDQiCOJhrS?si=8bd3abfb97fa49bb" class="link-musica" target="_blank">(Escute Aqui!)</a></li>
            <li>Linger - The Cranberries <a href="https://open.spotify.com/track/0gEyKnHvgkrkBM6fbeHdwK?si=0e72ecbc3e314100" class="link-musica" target="_blank">(Escute Aqui!)</a></li>
            <li>The Great War - Taylor Swift <a href="https://open.spotify.com/track/5BYl3SodS3rGmafWXRWmB7?si=b9bcc156dd4d4b00" class="link-musica" target="_blank">(Escute Aqui!)</a></li>
        </ul>
    </div>
           

</main>
{% endblock content %}