* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Inter Bold 700';
    src: url('../static/Inter-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Light 300';
    src: url('../static/Inter-Light.ttf') format('truetype');
}

@media (max-width: 999px){
  main{
    font-size: 80%;
  }
}

a{
    color: #0d0006;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;

}

.logo {
    padding-top: 10px;
}


 nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Inter Bold 700', sans-serif;
    background: #94a9bc;
    height: 19vh;
 }

 main{
    background: #dfdae0;
    background-size: cover;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 5%;
 }

 .nav-list{
    list-style: none;
    display: flex;
 }

 .nav-list li{
    letter-spacing: 1px;
    margin-left: 32px;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #0d0006;
    margin: 8px;
    transition: 0.3s;
    margin-right: 50px;
}


 @media (max-width: 999px) {
    .nav-list {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 50vw;
        height: 100vh;
        background-color: #94a9bc;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 50px;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        width: 45vw;
        line-height: 250%;
        margin-left: 0px;
        opacity: 0;
        margin-bottom: 2px;
        text-align: center;
    }
    .mobile-menu {
        position: absolute;
        right: 2vw;
        top: 8vh;
        display: block;
        z-index: 9999;
    }
    .logo {
        position: absolute;
        display: block;
        left: 5vw;
        top: 0.1vh;
        padding-top: 0;
    }
    .mobile-menu:checked + .nav-list {
        display: flex;
    }

 }

.nav-list.active{
    transform: translateX(0);
}

@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}





/* footer */

footer{
    width: 100%;
    height: 19vh;
    background-color: #94a9bc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icones {
    margin: 0 10px;
    
}



/* home */

.principal {
  display: flex;
  justify-content: center;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caixa-1 {
  margin-bottom: 10px;
  margin-right: 20px;
}




@media (min-width: 1000px) {
  .conteudo {
    flex-direction: row;
    justify-content: center;
    align-items: center; 
  }

  .caixa-1 {
    margin-right: 20px; 
  }
}


.foto-minha{
    border-radius: 3%;
}

.intro{
    font-family: 'Inter Light 300', sans-serif;
    font-size: 1.5em;
}

/* sobre */

.titulo-principal{
    font-family: 'Inter Bold 700', sans-serif;
    text-align: center; 
    font-size: 32px;
    
}

.subtitulo{
    font-family: 'Inter Bold 700', sans-serif;
    background-color: #bcc3d5;
    padding-left: 10px;
    font-size: 24px;
}


.lista{
    font-family: 'Inter Light 300', sans-serif;
    list-style: none;
    font-size: 18px;
}

.filmes-separados {
    display: flex;
    flex-wrap: wrap;
  }

  .filme-1,
 .filme-2,
 .filme-3 {
  width: 33.33%;
  box-sizing: border-box;
  padding: 10px;
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}


.poster-filme{
    max-width: 100%;
    
  }
  

  @media (max-width: 600px) {
    .filme-1,
    .filme-2,
    .filme-3 {
      width: 100%;
    }
  }
  

.nome-filme{
    font-family: 'Inter Bold 700', sans-serif;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}


.link-musica{
    text-decoration: underline;
    font-weight: bold;
}

/* ACADÊMICO */

p{
    font-family: 'Inter Light 300', sans-serif;
    font-size: 18px;
}



.link-academico{
    text-decoration: underline;
    font-weight: bold;
}


.instituicoes {
    display: flex;
    flex-direction: row;
  }
  
.institucoes > div {
    flex: 1 1 1;

  }

.instituicoes .instituicao {
    margin-right: 20px;
}

  
  @media (max-width: 1000px) {
    .instituicoes {
      flex-direction: column;
    }
  }
  

.nome-instituicao{
    font-family: 'Inter Bold 700', sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 20px ;
}

.conteudo-instituicao {
    text-align: center;
    padding-top: 5px;
}


/* CONTATOS */

.contatos {
    display: flex;
    flex-wrap: wrap;
  }
  
  .contatos > div {
    flex-basis: 50%;
    text-align: center;
    margin-bottom: 20px; 
    padding-top: 30px;
  }
  
  
  .nome-contatos {
    padding-top: 10px;
    margin-bottom: 10px; 
    font-family: 'Inter Bold 700', sans-serif;
    font-size: 24px;
  }
  
  @media (max-width: 600px) {
    .contatos > div {
      flex-basis: 100%;
    }
  }


  /* CARDS */

  .btn-custom {
    background-color: #94a9bc;
    border: 2px solid #94a9bc;
    transition: background-color 0.3s ease;

  }

  .btn-custom:hover {
    border-color: #476785;
    background-color: #476785;
  }
  


  .card-container .card {
    font-family: 'Inter Bold 700', sans-serif;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  
  .card {
    max-width: 400px; 
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  
  .card-title {
    font-size: 1.2rem; 
  }
  
  .card-text {
    font-size: 0.9rem; 
  }

  @media (max-width: 1000px) {
    .card-container {
      justify-content: center;
    }
  
    .card {
      max-width: 100%; 
      margin-bottom: 20px; 
      flex-basis: 100%;
    }
  
    .card-title {
      font-size: 1rem;
    }
  
    .card-text {
      font-size: 0.8rem; 
  }

  }
  
  
  

  
  


  

